<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-left ms-3" id="sidenav-main">
  <div class="sidenav-header">
    <i
      class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute right-0 top-0 d-none d-xl-none"
      aria-hidden="true"
      id="iconSidenav"
    ></i>
    <a class="navbar-brand m-0 text-center" href="#">
      <span class="ms-1 font-weight-bold">{{ appName }}</span>
    </a>
  </div>

  <hr class="horizontal dark mt-0" />

  <div class="collapse navbar-collapse w-auto" id="sidenav-collapse-main">
    <ul class="navbar-nav">
      <li class="nav-item">
        <router-link class="nav-link" :to="{ name: 'dashboard' }">
          <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="fas fa-tachometer-alt"></i>
          </div>
          <span class="nav-link-text ms-1">Dashboard</span>
        </router-link>
      </li>
      <li class="nav-item">
        <router-link class="nav-link" :to="{ name: 'expenses' }">
          <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="fas fa-money-bill"></i>
          </div>
          <span class="nav-link-text ms-1">Expenses</span>
        </router-link>
      </li>

      <li class="nav-item">
        <router-link class="nav-link" :to="{ name: 'categories' }">
          <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="fas fa-bars"></i>
          </div>
          <span class="nav-link-text ms-1">Categories</span>
        </router-link>
      </li>

      <li class="nav-item">
        <a class="nav-link">
          <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="fas fa-cog"></i>
          </div>
          <span class="nav-link-text ms-1">Settings</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link">
          <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="fas fa-info"></i>
          </div>
          <span class="nav-link-text ms-1">Help</span>
        </a>
      </li>
    </ul>
  </div>
</aside>
