<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />

<Sidenav />

<main class="main-content mt-1 border-radius-lg">
  <Navbar />

  <div class="container-fluid py-4">
    <slot />

    <footer class="footer pt-3">
      <div class="container-fluid">
        <div class="row align-items-center justify-content-lg-between">
          <div class="col-12 mb-lg-0 mb-4">
            <div class="copyright text-center text-sm text-muted">
              Copyright © {{ (new Date().getFullYear()) }} template made with <i class="fa fa-heart"></i> by
              <a href="https://www.creative-tim.com/" class="font-weight-bold" target="_blank">Creative Tim</a>.
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
</main>
